@media screen and (max-width: 2048px
    .grid-container {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 20vh 80vh;
    }
    .item3{
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        margin-top: 0%;
    }
    .item2{
        grid-column: 1;
        grid-row: 3;
        margin-top: 15%;
    }

    .vid {
        width: 46vw;
        height: 31.5vh;
        margin-top: -40.7vh;
    }

@media screen and (max-width: 929px) {
    .grid-container {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 50vh 50vh;
    }
    .item3{
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        margin-top: 0%;
    }


    .item2 {
        grid-column: 1;
        grid-row: 3;
    }

    .vid {
        width: 46vw;
        height: 50vh;
        margin-top: 3.4vh;
    }

    p{
        font-family:'Roboto', sans-serif;
        font-size: 50%;
    }

    h2{
        font-family:'Roboto', sans-serif;
        font-size: 60%;
    }

    .lor{
        margin-top: 10%;
        font-size: 40%;
    }

    .logo{
        width: 7%;
    }

}

@media screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 20vh 80vh;
    }
    .item3{
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        margin-top: 0%;
    }
    .item2, .vid{
        grid-column: 1;
        grid-row: 3;
        margin-top: 15%;
    }

    .vid {
        width: 46vw;
        height: 31.5vh;
        margin-top: 40.7vh;
    }
}
